[submodule "bab-be-u.wiki"]
	path = bab-be-u.wiki
	url = https://github.com/lilybeevee/bab-be-u.wiki.git
[submodule "lib/colr-print"]
	path = lib/colr-print
	url = https://github.com/bab-devs/colr-print
